.book-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
  width: 100%; /* Make the card take the full width of the grid cell */
  margin: 8px; /* Reduced margin for better spacing */
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.book-card:hover {
  transform: translateY(-5px);
}

.book-image-container {
  position: relative;
  width: 100%;
  height: 200px; /* Fixed height for the image container */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.book-image {
  width: auto; /* Allow the image to maintain its aspect ratio */
  height: 100%; /* Ensure the image fits the container height */
  object-fit: contain; /* Ensure the image is not cropped */
}

.availability-badge {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: #f0f0f0;
  color: #333;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;
}

.availability-badge.available {
  background-color: #d4edda;
  color: #155724;
}

.availability-badge.unavailable {
  background-color: #f8d7da;
  color: #721c24;
}

.book-info {
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}

.book-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 8px 0 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  line-height: 1.2; /* Adjust line height to fit the content */
  height: 3.6em; /* Adjust height to fit 2 lines of text */
}

.book-author {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.book-rating {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.star {
  color: #ddd;
  font-size: 16px;
}

.star.filled {
  color: #f39c12;
}

.review-count {
  font-size: 14px;
  color: #777;
  margin-left: 4px;
}

.availability {
  font-size: 0.9rem;
  color: #777;
  margin-bottom: 10px;
}

.view-details-button {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px 18px;
  font-size: 14px;
  cursor: pointer;
  margin-top: auto;
  transition: background-color 0.3s;
}

.view-details-button:hover {
  background-color: #0056b3;
}
